@model Mvc.DynamicWizard.ViewModels.WizardViewModel
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@using (Html.BeginForm("About", "home",FormMethod.Post,new { id="f1"}))
{

    @Html.TextBox("test","mohammad")
    @Html.Action("info", "Personnel", null)
    <input id="sub1" name="sub1" type="submit" onclick="$('#f1').submit()">
}
