@using MVCWizard.Web.Example.Models 
@model Employ
           
    <div>   
    Name:  @Html.TextBoxFor(m => m.Name) 
    </div>
    <div>   
    Surname:  @Html.TextBoxFor(m => m.Surname)
    </div>
    <div><br /></div>