@using MVCWizard.Web.Example.Models 
@model Employ
           
    <div>   
    Company:  @Html.TextBoxFor(m => m.Company) 
    </div>
    <div>   
    Telephone:  @Html.TextBoxFor(m => m.Telephone)
    </div>
    <div><br /></div>